
body {
    background-color: rgb(37, 37, 37);
    background-image: url(/images/191985-retro_games-mountain-8-bit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#startScreen {
    background-color: rgba(28, 28, 44, 0.644);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

#startButton {
    font-family: 'VT323', monospace;
    font-size: 50px;
    padding: 10px 40px;
    border-radius: 10px;
    border:  none;
    animation-name: bounce;
    animation: bounce 1s cubic-bezier(0, 0, 0, 2) infinite alternate;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    line-height: normal;
}
  @keyframes bounce {
      
      100% { transform:translateY(-15%); }
       80% { transform:translateY(0%);     }
    
     
  }

  #startButton:hover {
    color: #fff;
    background-color: rgb(37, 37, 37);
    transform: translateY(-2px);
}

#startButton:active {
    background-color: rgb(61, 61, 61);
}

.hide {
    display: none;
}

.unhide {
    display: flex;
}


#mainBoard {
   display: none; 
}

.mainBoardTwo {
    display: flex;
    background-color: rgba(32, 32, 116, 0.74);
    width: 800px;
    height: 600px;
    border-radius: 15px;
    
}

#main {
    background-color: rgb(22, 22, 53);
    width: 800px;
    height: 80px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 40px;
}